{{define "Form"}}
<form action="{{.ActionURL}}" method="{{.Method}}" class="space-y-6">
    {{ range .Input }}
    <div>
        <label for="{{.ID}}" class="block text-sm/6 font-medium text-gray-100">{{.Label}}</label>
        <div class="mt-2">
            <input id="{{.ID}}" type="{{.Type}}" name="{{.Name}}" required autocomplete="{{.ID}}"
                class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" />
        </div>
    </div>
    {{ end }}
    <div>
        {{ template "ButtonSolid" .SubmitButton }}
    </div>
</form>
{{end}}